include LICENSE.txt
include requirements.txt
include qiskit_nature_kvantify/py.typed
recursive-include qiskit_nature_kvantify *.txt
graft qiskit_nature_kvantify/drivers/second_quantization/gaussiand/gauopen
graft test
prune docs
prune tools
prune tutorials
global-exclude *.py[co] .DS_Store
